streamlit
langchain
langchain-community
faiss-cpu
sentence-transformers
transformers
torch
langchain-groq
tzdata
typing-extensions
pytz
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
